<form method="post">

        <div>
        <label for="firstname" title="First Name">First Name:</label>
        <input id="firstname" name="firstname" type="number" placeholder="First Name">
    </div>
    <div>
        <label for="lasttname" title="Last Name">Last Name:</label>
        <input id="lastname" name="lastname" type="number" placeholder="Last Name">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <output>
        <output>
        {{!-- <h1>{{FirstName}}</h1>
        <h2>{{LastName}}</h2> --}}
        <h1>{{Greeting}}</h1>
    </output>
    </output>
</form>