    p#information_of_country {
        background: rgb(233, 92, 116);
    }
    
    p#scroll {
        overflow: scroll;
    }
    
    body {
        background-image: url("../images/bg.jpg");
    }
    
    .jumbotron {
        background-image: url("../images/bgj.jpg");
    }
    
    h1 {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }